.head-text {
    
    font-size: 40px;
    color: blue;
  }
  
  .text {
    
    font-size: 25px;
    color: grey;
  }
  
  .name {
    display: flex;
    flex-direction: row;
  }
  
  .main-card {
    border-radius: 15px;
  }
  .mainCard{
      width: 400px;
      height: 300px;
      margin-top: 7em
  }
  
  
  
  .blue {
    color: blue
    
  }
  
  .green {
    color: green
    
  }
  
  .yellow {
    color: yellow
    
  }
  
  .red {
    color: red
    
  }
  
  .tagline {
    
    color: blue;
  }
  
  .container1 {
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    box-shadow: 20px;
    
  }
  
  
  
  .header {
    position: center;
  }
  
  .logo {
    color: blue;
    font-size: 30px;
    margin: 2px;
  }
  .title{
      font-size: 30px;
      color: purple;
      text-align: center
  }
  .loginBtn{
      margin-top: 30px
  }
  